{
  "plugins": [
    "mocha"
  ],
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "linebreak-style": [
      "error",
      "windows"
    ],
    "no-console": 0
  },

  "env": {
    "mocha": true
  }
}