{
  "plugins": [
    "mocha"
  ],
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "linebreak-style": [
      "error",
      "windows"
    ],
    "no-console": 0,
    "valid-jsdoc": ["error", {
      "requireReturn": true,
      "requireReturnType": true,
      "requireParamDescription": false,
      "requireReturnDescription": true
    }],
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true
      }
    }]
  },

  "env": {
    "mocha": true
  }
}