/*
Author: Ebenezer Makinde.
Scope: iReporter Application.
Start date: 19/11/2018.
End date: 
 */

 /* General body styling */
 @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Lobster');
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

nav {
  height: 4em;
  line-height: 4em;
}

  /* Container div styling */
  .container {
    margin: auto;
    width: 80%;
    overflow: hidden;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flex--row {
    display: flex;
  }

  .flex--col {
    display: flex;
    flex-direction: column;
  }

  .space {
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  /*home-page div styling */
  .home-page {
    height: 100vh;
  }

  .home-page__logo {
    font-size: 2.5em;
    font-family: 'Lobster', cursive;
  }

 /* Header */
  .home-page__signup,
  .home-page__login {
    font-size: 1.5em;
    padding-left: 1.3em;
  }
  
  a.active {
    background: #F3AD2E;
    font-size: 1.6em;
  }

   /* Showcase styling */
   .home-page__showcase {
    height: 90vh;
    background: url("../images/reporter.jpg") no-repeat right center;
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .home-page__showcase h1 {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .home-page__showcase p {
    font-size: 24px;
  }

 /* Footer styling */ 
 footer {
  position: fixed;
  height: 4em;
  bottom: 0;
  background-color: darkgray;
  width: 100vw;
}

footer h4 {
  margin-top: 1.5em;
  text-align: center;
  color: #000;
}
  
/* login section styling */
.section-form {
    background-color: #1769aa;
    height: 87vh;
    color: white;
  }

section .form-box{
  width: 480px;
  background:#fff;
  color: #000;
  padding: 70px 30px;
}

section .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: -11em;
}

section .adduser-avatar {
  margin-top: -17em;
}

/* form-box styling */
.form-box h1{
  margin-top: 1.5em;
  text-align: center;
  font-size: 22px;
}

/* input general styling */
input {
  border: 1px black solid;
  width: 415px;
  margin-bottom: 20px;
}

/* input types styling */
label {
  font-size: 1.3em;
}

.inputsize {
  width: 9.5em;
}

input[type="email"], input[type="password"], input[type="text"], input[type="number"]
{
  margin-top: 5px;
  background: transparent;
  outline: none;
  height: 40px;
  color:#fff;
  font-size: 1.3em;
  padding-left: 10px;
}

/* submit button styling */
input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background:#F3AD2E;
  color: #fff;
  font-size: 1.3em;
}

/* submit button hover styling */
input[type="submit"]:hover
{
  cursor:pointer;
  background: #b28900;
  color:#000;
}

/* Media Queries */
@media (max-width: 768px) {
  header #header-title,
  header nav,
  header nav li {
    float: none;
    width: 100%;
    text-align: center;
  }
  header a {
    text-align: center;
    font-size: 17px;
  }
  #showcase  {
    min-height: 450px;
    margin-top:30px;
    background: url("../images/reporter.jpg") no-repeat left center;
    background-size: cover;
  }
  #showcase h1 {
    font-size: 60px;
  }
  section .signup-box{
    width: 300px;
    height: 600px;
    background:#000;
    font: 15px/1 Arial, Helvetica, sans-serif;
    color:#fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 40px 30px;
  }
}
