/*
Author: Ebenezer Makinde.
Scope: iReporter Application.
Start date: 19/11/2018.
End date: 
 */

 /* General body styling */
 @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Lobster');
  body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
  }

  nav {
    height: 4em;
    line-height: 4em;
  }

  /* Container div styling */
  .container {
    margin: auto;
    width: 80%;
    overflow: hidden;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flex--row {
    display: flex;
  }

  .flex--col {
    display: flex;
    flex-direction: column;
  }

  .space {
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  /*home-page div styling */
  .home-page {
    height: 100vh;
  }

  .home-page__logo {
    font-size: 2.5em;
    font-family: 'Lobster', cursive;
  }

 /* Header */

  .home-page__signup,
  .home-page__login {
    font-size: 1.5em;
    padding-left: 1.3em;
  }
  
  header a:hover {
    background-color: white;
    color: #000;
    font-weight: bold;
  }

  header a.active {
    background: #F3AD2E;
    border: 2px solid#7B0828;
    color: #000;
  }

   /* Showcase styling */
  
   .home-page__showcase {
    height: 90vh;
    background: url("../images/reporter.jpg") no-repeat right center;
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .home-page__showcase h1 {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .home-page__showcase p {
    font-size: 24px;
  }

 /* Footer styling */ 
 footer {
  position: fixed;
  height: 4em;
  bottom: 0;
  background-color: darkgray;
  width: 100vw;
}

footer h4 {
  text-align: center;
  color: #000;
}
  
/* login section styling */
  #section-login {
    min-height: 510px;
    background-color: #7B0828;
    color: white;
    text-align: center;
    flex: 1;
  }

section .login-box{
  width: 300px;
  height: 450px;
  background:#000;
  color:#fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

section .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -4%;
    left: calc(55% - 50px);
}

/* login-box styling */
.login-box h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

/*login box paragraph styling */
.login-box p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: bold;
}

/* input general styling */
input {
  width: 240px;
  margin-bottom: 20px;

}

/* input types styling */
input[type="email"], input[type="password"], input[type="text"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color:#fff;
  font-size: 16px;
}

input[type="checkbox"]
{
  margin-right: 0;
  margin-left: -110px;
}


/* submit button styling */
input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background:#F3AD2E;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

/* submit button hover styling */
input[type="submit"]:hover
{
  cursor:pointer;
  background: #fb2525;
  color:#000;
}

/* login-box anchor styling */
.login-box a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: darkgrey;
}

/* login-box anchor hover styling */
.login-box a:hover{
  color:  #fb2525;
}

/* signup section styling */
#section-signup {
  min-height: 400px;
  background-color: #7B0828;
  color: white;
  text-align: center;
  flex: 1;
}

section .signup-box{
  width: 300px;
  height: 660px;
  background:#000;
  color:#fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-55%,-50%);
  box-sizing: border-box;
  padding: 50px 30px;
}

.signup-box p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: bold;
}

section a{
  margin-left: -110px;
  text-decoration: none;
  color: #fff;
}

section a:hover{
  color: #fb2525;
}

/* Media Queries */
@media (max-width: 768px) {
  header #header-title,
  header nav,
  header nav li {
    float: none;
    width: 100%;
    text-align: center;
  }
  header a {
    text-align: center;
    font-size: 17px;
  }
  #showcase  {
    min-height: 450px;
    margin-top:30px;
    background: url("../images/reporter.jpg") no-repeat left center;
    background-size: cover;
  }
  #showcase h1 {
    font-size: 60px;
  }
  section .signup-box{
    width: 300px;
    height: 600px;
    background:#000;
    font: 15px/1 Arial, Helvetica, sans-serif;
    color:#fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 40px 30px;
  }
}
