body{
    font-family: "Arial", serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.navbar{
    background-color: #3b5998;
    overflow: hidden;
    height: 63px;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul{
    margin: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover{
    background-color: #ddd;
    color: #000;
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover{
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

#main{
    transition: 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

#main h2{
    text-align: center;
}

/* form styling */
form {
    width: 20%;
    margin: auto;
    margin-bottom: 50px;
    background: white;
    padding: 20px 0 40px 40px;
    box-sizing: border-box;
    font-weight: bold;
    color: #1C309F;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
}


form input[type="text"], input[type="file"],select {
    display: block;
    width: 80%;
    margin: 10px 0px 10px 0px;;
    font-size: 17px;
    padding: 10px;
    border: 2px solid #d8d8d8;
    border-radius: 8px;
    color: #1C309F;
  }

/* button styling */
form input[type="submit"]
{
  border: none;
  outline: none;
  width: 80px;
  height: 40px;
  background: rgba(0,0,255,0.7);
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

form input[type="reset"]
{
  border: none;
  outline: none;
  width: 80px;
  height: 40px;
  background: rgba(255,0,0,0.5);
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

/* submit button hover styling */
form input[type="submit"]:hover
{
  cursor:pointer;
  background: rgba(0,255,0,0.7);
  color:#000;
}

/* reset button hover styling */
form input[type="reset"]:hover
{
  cursor:pointer;
  background: rgba(255,0,0,0.7);
  color:#000;
}

/* User dashboard table styling */
table{
    width: 400px;
}

table caption{
    font-size: 20px;
}

table th {
    background-color: #3b5998;
}

th{
    text-align: left;

}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 20px;
}

tr:nth-child(even){
    background-color: #fff;
}

tr:nth-child(odd){
    background-color: #ddd;
}

table .user-event-images{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

@media(max-width:1000px){
    .navbar-nav{display: none}
    form{
        width: 60%;
    }
    th,td {
        padding: 5px;
    }
    table .user-event-images{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

@media(min-width:600px){
     .open-slide{display: none} 
}